{% extends 'base.html' %}
{% block title %} KnewIT {% endblock title %}
{% block content %}
    <section class="content">
        <div class="big-box"></div>
        <h3 class="available">Доступные курсы</h3>
        <div class="content-bottom">
            {% for course in courses %}
                <div class="small-box">
                    <img src="{{ course.image.url }}" alt="Название курса">
                    <a href="{{ course.get_absolute_url }}" style="cursor: pointer">
                        <h3> {{ course.course_name }}</h3>
                    </a>
                    <p>{{ course.teacher }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
