<div class="pagination">
    <span class="step-links">
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_previous %}
            <div class="p-btn">
                <a href="?page={{ page.previous_page_number }}">Previous</a>
            </div>
        {% endif %}
        {% if page.has_next %}
            <div class="p-btn">
                <a href="?page={{ page.next_page_number }}">Next</a>
            </div>
        {% endif %}
    </span>
</div>
