{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div role="alert">
    <div id="form_errors">
        {% for key, value in form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form method="post" class="change-pass">
    {% csrf_token %}
    <div class="pass-title">
        Поменять пароль
    </div>


    <div class="scroll">
        <form class="phone-number">
            <label>Старый пароль</label>
            <input type="password" name="old_password" autocomplete="new-password" required
                   id="id_old_password"
                   placeholder="Enter Old Password"/>
        </form>
        <div class="new-pass">
            <div class="column">
                <label>Новый пароль</label>
                <input type="password" name="new_password1" autocomplete="new-password"
                       required id="id_new_password1" placeholder="Enter New Password"/>
            </div>
            <div class="column">
                <label>Повторите новый пароль</label>
                <input type="password" name="new_password2" autocomplete="new-password"
                       required id="id_new_password2" placeholder="Confirm New Password"/>
            </div>
        </div>
        <button type="submit" id="reset">Изменить пароль</button>
    </div>
</form>
<script>
    let toogle = document.querySelector('.pass-title');
    let scroll = document.querySelector('.scroll');
    toogle.onclick = function () {
        scroll.classList.toggle('active');
    }
</script>
{% endblock content %}
