* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login {
    display: flex;
    margin: 200px;
}

.main_text {
    font-family: Rubik;
    font-weight: 300;
    text-align: center;
    width: 40%;
    margin: 0 200px 0 100px;
    font-size: 30px;
}

.login-form {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.login-form input {
    width: 369px;
    height: 60px;
    font-size: large;
    background: #F0EFFF;
    border: none;
    border-radius: 10px;
    color: #5A49F8;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: Rubik;
    font-weight: 500;
}

.login-form p{
    display: flex;
    flex-direction: column;
}

.login-form button {
    width: 369px;
    height: 59px;
    background: #5A49F8;
    box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.40);
    border-radius: 9px;
    color: white;
    font-size: 18px;
    font-family: Rubik;
    font-weight: 500;
    word-wrap: break-word;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5A49F8;
}

