@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.content {
    max-width: 1192px;
    min-height: 80vh;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 100px;
}

.start {
    width: 100%;
    border-bottom: 1px solid #AEAEAE;
    background: #FFF;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    margin-left: 2rem;
}

.header ul {
    display: flex;
    align-items: center;

    gap: 44px;
}

.menu {
    margin-right: 2rem;
}

.menu a {
    color: #000;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu li:last-child {
    width: 162.237px;
    height: 36px;
    border-radius: 3px;
    background: #5A49F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .login {
    color: #FFF;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu-file{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.menu-file .menu-logo{
    height: 2.5rem;
    border-radius: 50%;
}
.menu-hidden{
    display: none;
}
.menu-hidden.active{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    position: absolute;
    margin-top: 7rem;
    border-left: 1px solid #AEAEAE;
    border-bottom: 1px solid #AEAEAE;
}
.menu-hidden.active p{
    border-bottom: 1px solid #AEAEAE;
    border-top: 1px solid #AEAEAE;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: #fff;
}

.footer {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.footer-wrapper__left {
    display: flex;
    align-items: center;
    gap: 17px;
}

.footer-wrapper__right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-wrapper__left p {
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.big-box {
    width: 100%;
    height: 305px;
    background: #D9D9D9;
    margin-top: 40px;
}

.available {
    margin-top: 38px;

    color: #000;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content-bottom {
    margin-top: 19px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.small-box {
    width: 260px;
    height: 200px;
}

.small-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mycourses__title {
    color: #000;
    /* Text Header */
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mycourses-box {
    margin-top: 30px;
    width: 100%;
    height: 240px;
    background: #FFF;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mycourses-box > img {
    width: 116px;
    height: 116px;
}

.mycourses-box-content__title {
    color: #000;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mycourses-box-content__teacher-name {
    color: #000;
    font-family: 'Rubik';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.mycourses-box-content__progress {
    margin-top: 15px;
    color: #000;
    font-family: 'Rubik';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mycourses-box-content__progress-line {
    margin-top: 4px;
    width: 713px;
    height: 4px;
    background: rgba(217, 217, 217, 0.60);
}

.mycourses-box-content__progress-line > div {
    width: 17px;
    height: 4px;
    background: #5A49F8;
}

.mycourses-box > a {
    width: 162.237px;
    height: 36px;
    border-radius: 3px;
    background: #5A49F8;

    color: #FFF;
    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mycourse {
    display: flex;
    gap: 150px;
}

.mycourse-sidebar-info > img {
    width: 80px;
    height: 80px;
}

.mycourse-sidebar-info__title {
    color: #000;
    margin-top: 18px;
    font-family: "Rubik";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mycourse-sidebar-info__teacher-name {
    margin-top: 8px;
    color: #000;
    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.mycourse-sidebar-bottom__title {
    margin-top: 74px;
    color: #000;
    font-family: 'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mycourse-sidebar-bottom__week {
    margin-top: 16px;
    padding-left: 30px;
}

.mycourse-sidebar-bottom__week li {
    margin-top: 8px;
}

.mycourse-sidebar-bottom__week a {
    color: #000;
    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.mycourse-content-header {
    width: 640px;
    display: flex;
    justify-content: space-between;
}

.mycourse-content-header > h3 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mycourse-content-header a {
    width: 120px;
    height: 36px;
    border-radius: 3px;
    background: #5A49F8;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mycourse-content > img {
    margin-top: 38px;
    width: 100%;
}

.mycourse-content-bottom > h4 {
    margin-top: 65px;
    color: #000;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mycourse-content-bottom__btns {
    margin-top: 21px;
    display: flex;
    gap: 14px;
}

.mycourse-content-bottom__btns a {
    width: 80px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #5A49F8;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-family: 'Rubik';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* details-preview */
.details-cont{
    width: 80%;
    margin: 7rem auto 0;
    display: flex;
}
.l-title-bar{
    width: 25rem;
    padding-left: 8rem;
}
.title {
    margin-bottom: 2rem;
}
.title img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
}
.r-title-bar{
    width: 60rem;
    height: 47rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;
}
.preview_image{
    margin-bottom: 2rem;
}
.r-title-bar h3{
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0.5rem 0.5rem;
}
.r-title-bar .preview-p{
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 2rem 0;
}
.r-title-bar .preview-btn{
    width: 30%;
    margin-left: 70%;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    color: #FFF;
    background: #5A49F8;
    box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.40);
    height: 2.5rem;
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* details */
.rubik-18-500 {
    font-family: Rubik;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.rubik-14-300 {
    font-family: Rubik;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.rubik-16-400 {
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title-module {
    height: 1.25rem;
    transition: height 0.5s;
    transition-delay: 0.75s;
}
.materials-title {
    margin-bottom: 2.25rem;
}
.materials-title p {
    font-family: Rubik;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.materials-video iframe {
    width: 100%;
    height: 30rem;
}

/*mark-check*/
.mark-cont{
    display: flex;
    align-items: center;
    justify-content: end;
}
.mark-cont label{
    margin-left: 0.5rem;
}
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/*pagination*/
.step-links{
    display: flex;
    align-items: center;
}
.current{
    margin-right: 1rem;
}
.p-btn{
    width: 6rem;
    height: 3rem;
    background-color: #5A49F8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-btn a{
    font-family: Rubik;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}
/* profile */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-profile {
    width: 80rem;
    height: 41rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-wrap-pro {
    width: 20rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.left-wrap-pro img {
    cursor: pointer;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}

.left-wrap-pro .profile-name {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.1em;
}

.profile-name a input {
    text-decoration: none;
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background: transparent;
    border: none;
}

.right-wrap-pro {
    width: 50rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: visible;
}

.right-wrap-pro p {
    font-family: Rubik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form label {
    padding-left: 0.4rem;
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-form input, .change-pass input {
    border-radius: 0.5rem;
    border: 2px solid #666;
    font-family: Rubik;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1rem;
}

.profile-form .phone-number, .change-pass .phone-number {
    display: flex;
    flex-direction: column;
}

.full-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full-name .column {
    width: 45%;

}

.full-name .column input {
    width: 100%;

}


.profile-avatar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-avatar label {
    margin-bottom: .5rem;
}

.profile-avatar input {
    border: none;
    padding: 0;
    border-radius: 0;
}

.profile-bio {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bio-title {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: 2px solid #666;
    font-family: Rubik;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.bio-scroll {
    display: none;
}

.bio-scroll.active {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
    display: block;
    border-left: 2px solid #666;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    height: 10rem;
}

.bio-scroll.active textarea {
    width: 100%;
    border: none;
    resize: none;
    height: 100%;
    font-family: Rubik;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-button {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.profile-button button {
    width: 40%;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    color: #FFF;
    background: #5A49F8;
    box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.40);
    height: 3rem;
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.change-pass .pass-title {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: 2px solid #666;
    font-family: Rubik;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.change-pass .scroll {
    display: none;
    overflow: hidden;
}

.change-pass .scroll.active {
    padding: 1rem;
    display: block;
    overflow: hidden;
    border-left: 2px solid #666;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.change-pass .scroll.active .new-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-pass .column {
    width: 45%;
}

.new-pass .column input {
    width: 100%;
}

.scroll.active button {
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    color: #FFF;
    background: #5A49F8;
    box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.40);
    height: 3rem;
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
